/* RSVP */

.header {
  	position: relative;
  	top: 94px;
  	position: relative;
    display: flex;
    flex-direction: column;
  	font-size: 64px;
    color: #675553;
    font-family: 'Libre Baskerville';
}

.wishes {
  	position: relative;
  	letter-spacing: -0.1em;
  	line-height: 74px;
}

.sub {
  	position: relative;
    display: flex;
  	top: -28px;
  	text-align: center;
    justify-content: center;
  	font-size: 24px;
}

.konfirmasi {
  	position: relative;
    display: flex;
}

.k {
  	position: relative;
  	font-size: 48px;
  	font-family: 'Meow Script';
}

.onfirmasi {
  	position: relative;
    margin-top: 22px;
    margin-left: 8px;
}

.div {
  	width: 47px;
  	position: relative;
	top: -5px;
  	font-size: 60px;
  	font-family: 'Meow Script';
  	color: #675553;
  	text-align: left;
  	height: 49px;
}

.oa {
  	position: relative;
    margin-top: 22px;
}
.doa {
  	position: relative;
    display: flex;
    margin-left: -8px;
}

.position {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 13px;
  	background-color: #fdf8f2;
  	width: 367px;
  	height: 50px;
	font-family: 'Lexend';
	font-weight: 200;
}

.formlong {
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 13px;
  	background-color: #fdf8f2;
  	width: 367px;
  	height: 101px;
	resize: none;
	font-family: 'Lexend';
	font-weight: 200;
}

.formUser {
  	position: relative;
    display: flex;
    flex-direction: column;
  	top: 80px;
    margin-bottom: 8px;
}

.formTitle {
  	position: relative;
  	top: 0px;
	font-family: 'Lexend';
	font-weight: 400;
	margin-bottom: 4px;
}

.buttonBg {
  	position: relative;
  	top: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 11px;
  	background-color: #e0b39c;
  	width: 170px;
  	height: 27px;
}

.buttonText {
  	position: relative;
    top: -22px;
	font-family: 'Lexend';
	font-weight: 400;
}

.button {
  	position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  	top: 100px;
  	cursor: pointer;
}

.floatingMessage {
  	position: relative;
  	width: 357px;
  	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	background-color: rgba(243, 235, 228, 0.5);
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    margin-top: 120px;
}

/* SELAMAT */
.selamat {
    width: 100%;
    max-width: 470px;
  	position: relative;
    min-height: 100vh;
  	overflow: hidden;
  	font-size: 12px;
  	color: #2d2016;
  	font-family: 'Lexend';
	font-weight: 200;

    display: flex;     
    text-align: center;
    flex-direction: column;
}

.dheader {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 122px;
    text-align: center;
    font-size: 56px;
    color: #675553;
    font-family: 'Libre Baskerville';
}

.dbarakallahu {
    position: relative;
    top: 0px;
    letter-spacing: -0.1em;
    line-height: 74px;
    margin-left: -30px;
}

.dlakumaa {
    position: relative;
    top: -30px;
    font-size: 55px;
    font-family: 'Meow Script';
    margin-right: -140px;
}

.floatingMessage1 {
  	position: relative;
  	width: 357px;
  	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	background-color: rgba(243, 235, 228, 0.5);
}

.container1 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    margin-top: 120px;
}


.floatingMessage2 {
  	position: relative;
  	width: 357px;
  	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	background-color: rgba(243, 235, 228, 0.5);
}

.container2 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.floatingMessage3 {
  	position: relative;
  	width: 357px;
  	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	background-color: rgba(243, 235, 228, 0.5);
}

.container3 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.formMask {
	width: 100%;
	position: relative;
	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	background-color: rgba(252, 250, 248, 0.7);
	height: 130px;
	overflow: hidden;
	font-family: 'Lexend';
	font-weight: 200;
}

.design1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  	border-radius: 9px;
  	background-color: rgba(243, 235, 228, 0.5);
  	width: 357px;
  	height: 130px;
}
.designa1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fdf8f2;
  	width: 357px;
  	height: 30px;
}
.Title1 {
  	position: absolute;
  	top: 7px;
  	left: 17px;
  	display: inline-block;
    text-align: left;
  	width: 235px;
  	height: 16px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
  	height: 16px;
	margin-bottom: 4px;
}

.Caption1 {
  	position: absolute;
  	top: 41px;
  	left: 17px;
  	display: inline-block;
  	width: 315px;
  	height: 64px;
	overflow-y: scroll;
	text-overflow: clip;
	white-space: normal;
	overflow-x: hidden;
	word-wrap: break-word;
    text-align: left;
}
.designChild1 {
  	position: absolute;
  	top: 6px;
  	left: 255px;
  	border-radius: 9px;
  	background-color: #d9b9b1;
  	width: 90px;
  	height: 19px;
}

.status1 {
  	position: absolute;
  	top: 7px;
  	left: 265px;
  	font-size: 11px;
  	display: inline-block;
  	text-align: center;
  	width: 68px;
  	height: 11px;
}