.wrapperl,
.wrapper,
.wrapperr {
  position: relative;
  width: 250px; 
  height: 250px; 
  overflow: hidden; 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-top: 50px;
}

.wrapperl {
  left: 130px;
}

.wrapperr {
  right: 130px; 
}

.current {
  width: 250px; 
  height: 250px;
  object-fit: cover; 
  border-radius: 30px;
  transition: filter 0.5s ease, opacity 0.5s ease;
}
